@model IEnumerable<Project_06.Models.Product>


@{
    ViewBag.Title = "Shop";
    var categories = ViewBag.categories as List<Project_06.Models.Category>;
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}

<br />
<br />

<!-- Display the selected category name -->
<h2>@ViewBag.CategoryName</h2>

<!-- Filter Buttons for Categories -->
<div class="flex-w flex-l-m filter-tope-group m-tb-10">
    <a href="@Url.Action("Shop", "Ecommerce", new { id = (int?)null })" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
        All Products
    </a>
    @foreach (var category in categories)
    {
        <a href="@Url.Action("Shop", "Ecommerce", new { id = category.ID })" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
            @category.CategoryName
        </a>
    }
</div>


<hr />

<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <div class="row isotope-grid">
            @foreach (var product in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item @product.Category.CategoryName.ToLower()">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img src="@product.ImagePath" alt="IMG-PRODUCT">

                            <!-- Quick View Button Redirects to ShowMore Action -->
                            <a href="@Url.Action("ShowMore", "Ecommerce", new { id = product.ID })" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                Quick View
                            </a>
                        </div>

                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                <a href="@Url.Action("ShowMore", "Ecommerce", new { id = product.ID })" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    @product.ProductName
                                </a>

                                <span class="stext-105 cl3">
                                    $@product.Price
                                </span>
                            </div>

                            <div class="block2-txt-child2 flex-r p-t-3">
                                <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                    <img class="icon-heart1 dis-block trans-04" src="~/Content/images/icons/icon-heart-01.png" alt="ICON">
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/Content/images/icons/icon-heart-02.png" alt="ICON">
                                </a>
                            </div>
                        </div>

                        <!-- Buttons for Add to Cart and Show More -->
                        <div class="flex-w flex-c-m p-t-10">
                            <form action="@Url.Action("AddToCart", "Ecommerce")" method="post" style="display:inline;">
                                <input type="hidden" name="productId" value="@product.ID" />
                                <input type="hidden" name="quantity" value="1" /> <!-- Adjust quantity as needed -->
                                <button type="submit" class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                    Add to Cart
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>
